**/Dockerfile
**/.dockerignore
**/client/build
**/var
**/vendor
**/node_modules
**/.idea
**/.php-cs-fixer.php
**/.php-cs-fixer.cache
**/.php_cs.cache
/infra
/bin
**/.gitignore
**/.github
/doc
/report
/tmp
**/dist
/uploader/client/index.html
/expose/client/index.html
/databox/client/index.html
/dashboard/index.html
