services:
  a_client:
    volumes:
      - ./lib/js:/srv/workspace/lib/js:rw
      - ./package.json:/srv/workspace/package.json:ro
      - ./pnpm-workspace.yaml:/srv/workspace/pnpm-workspace.yaml:ro
      - ./turbo.json:/srv/workspace/turbo.json:ro
      - ./node_modules:/srv/workspace/node_modules:ro

  dashboard:
    extends:
      service: a_client
    image: ${REGISTRY_NAMESPACE}dashboard-dev:${DOCKER_TAG}
    build:
      target: client-build
    volumes:
      - ./dashboard/client:/srv/workspace/dashboard/client:rw
      - ./lib/bash/configurator:/var/app/configurator:ro
    environment:
      - WDS_SOCKET_PORT=443

  uploader-client:
    extends:
      service: a_client
    image: ${REGISTRY_NAMESPACE}uploader-client-dev:${DOCKER_TAG}
    build:
      target: client-build
    volumes:
      - ./uploader/client:/srv/workspace/uploader/client:rw
    environment:
      - WDS_SOCKET_PORT=443

  expose-client:
    extends:
      service: a_client
    image: ${REGISTRY_NAMESPACE}expose-client-dev:${DOCKER_TAG}
    build:
      target: client-build
    volumes:
      - ./expose/client:/srv/workspace/expose/client:rw
    environment:
      - WDS_SOCKET_PORT=443

  databox-client:
    extends:
      service: a_client
    image: ${REGISTRY_NAMESPACE}databox-client-dev:${DOCKER_TAG}
    build:
      target: client-build
    volumes:
      - ./databox/client:/srv/workspace/databox/client:rw
    environment:
      - WDS_SOCKET_PORT=443

  expose-api-php:
    environment:
      - XDEBUG_ENABLED
      - XDEBUG_SESSION
      - XDEBUG_CLIENT_HOST=${PS_GATEWAY_IP}
      - PHP_IDE_CONFIG=serverName=${PS_DEBUG_SERVER_NAME_PREFIX}expose
    volumes:
      - ./expose/api:/srv/app
      - ./lib/php:/lib/php

  expose-api-nginx:
    volumes:
      - ./expose/api/public:/srv/app/public
      - ./expose/api/docker/nginx/tpl:/etc/nginx/tpl
      - ./expose/api/docker/nginx/entrypoint.sh:/entrypoint.sh

  expose-worker:
    volumes:
      - ./expose/api:/srv/app
      - ./lib/php:/lib/php

  uploader-api-php:
    environment:
      - XDEBUG_ENABLED
      - XDEBUG_SESSION
      - XDEBUG_CLIENT_HOST=${PS_GATEWAY_IP}
      - PHP_IDE_CONFIG=serverName=${PS_DEBUG_SERVER_NAME_PREFIX}uploader
    volumes:
      - ./uploader/api:/srv/app
      - ./lib/php:/lib/php

  uploader-worker:
    volumes:
      - ./uploader/api:/srv/app
      - ./lib/php:/lib/php

  uploader-api-nginx:
    volumes:
      - ./uploader/api/public:/srv/app/public

  databox-api-php:
    environment:
      - SECRETS_SECRET_KEY=${DATABOX_SECRETS_SECRET_KEY} # secret should not be provided to API but is necessary in dev mode
      - XDEBUG_ENABLED
      - XDEBUG_SESSION
      - XDEBUG_CLIENT_HOST=${PS_GATEWAY_IP}
      - PHP_IDE_CONFIG=serverName=${PS_DEBUG_SERVER_NAME_PREFIX}databox
      - PHP_MEMORY_LIMIT=${DEV_PHP_MEMORY_LIMIT}
    volumes:
      - ./databox/api:/srv/app
      - ./lib/php:/lib/php
      - ./tmp:/srv/app/tmp

  databox-api-nginx:
    volumes:
      - ./databox/api/public:/srv/app/public

  databox-worker:
    volumes:
      - ./databox/api:/srv/app
      - ./lib/php:/lib/php

  elasticsearch:
    ports:
      - ${ELASTICSEARCH_PORT}:9200

  dev:
    build: infra/docker/dev
    networks:
      - internal
    stdin_open: true
    tty: true
    hostname: local
    ports:
      - "0.0.0.0:4000:4000"
    environment:
      - APP_ENV
      - SSH_AUTH_SOCK=/ssh-auth-sock
      - UPLOADER_API_URL
      - DATABOX_API_URL
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - MARIADB_NAME=databox
      - MARIADB_USER=root
      - MARIADB_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_HOST
      - MARIADB_PORT
      - RABBITMQ_HOST
      - RABBITMQ_PORT
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - ELASTICSEARCH_URL
      - ELASTICSEARCH_INDEX_PREFIX
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_ENDPOINT
      - S3_REQUEST_SIGNATURE_TTL=${EXPOSE_REQUEST_SIGNATURE_TTL}
      - S3_USE_PATH_STYLE_ENDPOINT
      - S3_PATH_PREFIX
      - EXPOSE_API_URL
      - REPORT_API_URL
      - MAPBOX_TOKEN
      - XDEBUG_ENABLED
      - XDEBUG_CLIENT_HOST=${PS_GATEWAY_IP}
      - PHP_IDE_CONFIG=serverName=${PS_DEBUG_SERVER_NAME_PREFIX}cli
      - VERIFY_SSL
      - VERIFY_HOST
      - CLARIFAI_API_KEY
      - SECRETS_PUBLIC_KEY=${DATABOX_SECRETS_PUBLIC_KEY}
      - SECRETS_SECRET_KEY=${DATABOX_SECRETS_SECRET_KEY}
      - ALLOWED_FILE_TYPES=${DATABOX_ALLOWED_FILE_TYPES}
      - ADMIN_CLIENT_ID=${DATABOX_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_SECRET=${DATABOX_ADMIN_CLIENT_SECRET}
      - MAILER_DSN
      - MAIL_FROM
      - MAIL_FROM_DISPLAY_NAME
      - MAIL_REPLY_TO
      - MAIL_REPLY_TO_DISPLAY_NAME
      - MAIL_ENVELOPE_FROM
      - MAILER_HOST
      - MAILER_PORT
      - MAILER_USER
      - MAILER_PASSWORD
      - MAILER_SSL
      - MAILER_TLS
      - KEYCLOAK_URL
      - KEYCLOAK_INTERNAL_URL
      - KEYCLOAK_ADMIN
      - KEYCLOAK_ADMIN_PASSWORD
      - KEYCLOAK_REALM_NAME
      - EXPOSE_ADMIN_CLIENT_ID
      - EXPOSE_ADMIN_CLIENT_SECRET
      - UPLOADER_ADMIN_CLIENT_ID
      - UPLOADER_ADMIN_CLIENT_SECRET
      - DATABOX_ADMIN_CLIENT_ID
      - DATABOX_ADMIN_CLIENT_SECRET
      - DATABOX_CLIENT_ID
      - DASHBOARD_CLIENT_ID
      - DASHBOARD_CLIENT_URL
      - EXPOSE_CLIENT_ID
      - UPLOADER_CLIENT_ID
      - DATABOX_CLIENT_URL
      - EXPOSE_CLIENT_URL
      - UPLOADER_CLIENT_URL
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - AUTH_DB_NAME
      - CONFIGURATOR_DB_NAME
      - CONFIGURATOR_S3_ENDPOINT=${S3_ENDPOINT}
      - CONFIGURATOR_S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - CONFIGURATOR_S3_SECRET_KEY=${S3_SECRET_KEY}
      - CONFIGURATOR_S3_PATH_PREFIX=${S3_PATH_PREFIX}
      - CONFIGURATOR_S3_REGION=${S3_REGION}
      - CONFIGURATOR_S3_BUCKET_NAME
      - CONFIGURATOR_S3_USE_PATH_STYLE_ENDPOINT=${S3_USE_PATH_STYLE_ENDPOINT}
      - DATABOX_DB_NAME
      - EXPOSE_DB_NAME
      - UPLOADER_DB_NAME
      - DEFAULT_ADMIN_USERNAME
      - DEFAULT_ADMIN_EMAIL
      - DEFAULT_ADMIN_PASSWORD
      - MATOMO_URL
      - MATOMO_SITE_ID
      - MATOMO_AUTH_TOKEN
      - MATOMO_MEDIA_PLUGIN_ENABLED
      - PHRASEANET_APP_OAUTH_TOKEN
      - PHRASEANET_URL
      - SOKETI_HOST=soketi.${PHRASEA_DOMAIN}
      - SOKETI_APP_ID
      - SOKETI_KEY
      - SOKETI_SECRET
      - NOVU_SECRET_KEY
      - NOVU_API_HOST
      - KC_REALM_SUPPORTED_LOCALES
      - KC_REALM_DEFAULT_LOCALE
      - KC_REALM_HTML_DISPLAY_NAME
      - KC_REALM_LOGIN_REGISTRATION_ALLOWED
      - KC_REALM_LOGIN_RESET_PASSWORD_ALLOWED
      - KC_REALM_LOGIN_REMEMBER_ME_ALLOWED
      - KC_REALM_LOGIN_WITH_EMAIL_ALLOWED
      - KC_REALM_LOGIN_VERIFY_EMAIL_ALLOWED
      - KC_REALM_LOGIN_EMAIL_AS_USERNAME
      - KC_REALM_LOGIN_EDIT_USERNAME
      - KC_REALM_SSO_SESSION_IDLE_TIMEOUT
      - KC_REALM_SSO_SESSION_MAX_LIFESPAN
      - KC_REALM_CLIENT_SESSION_IDLE_TIMEOUT
      - KC_REALM_CLIENT_SESSION_MAX_LIFESPAN
      - KC_REALM_OFFLINE_SESSION_IDLE_TIMEOUT
      - KC_REALM_OFFLINE_SESSION_MAX_LIFESPAN
      - KC_REALM_USER_EVENT_ENABLED
      - KC_REALM_USER_EVENT_EXPIRATION
      - KC_REALM_ADMIN_EVENT_ENABLED
      - KC_REALM_ADMIN_EVENT_EXPIRATION
    working_dir: /var/workspace/${LOCAL_DIR}
    volumes:
      - ../:/var/workspace
      - ${SSH_AUTH_SOCK}:/ssh-auth-sock
      - ${HOME}/.ssh:/home/app/.ssh
      - ${HOME}/.composer:/home/app/.composer
      - dev:/home/app
    extra_hosts:
      - keycloak.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - minio.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - api-auth.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - api-uploader.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - api-expose.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - api-databox.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - novu.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - api-novu.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - bridge-novu.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}
      - phraseanet.${PHRASEA_DOMAIN}:${PS_GATEWAY_IP}

  report-api:
    volumes:
      - ./report/src:/usr/app

  configurator:
    volumes:
      - ./configurator:/srv/app
      - ./lib/php:/srv/lib/php

  databox-indexer:
    extends:
      service: a_client
    entrypoint: ''
    volumes:
      - ./databox/indexer:/srv/workspace/databox/indexer

  db:
    ports:
      - 127.0.0.1:${DB_DEV_PORT}:5432

  cypress:
    entrypoint: ""
    command: npx cypress open --browser ${CYPRESS_BROWSER} --project ./
    environment:
      - DISPLAY=${CYPRESS_DISPLAY}
      - DEFAULT_COMMAND_TIMEOUT=15000
      - ELECTRON_EXTRA_LAUNCH_ARGS=${CYPRESS_ELECTRON_EXTRA_LAUNCH_ARGS}
    volumes:
      - ./cypress/cypress:/cypress/cypress
      - ./cypress/output:/cypress/output
      - ./cypress/cypress.config.js:/cypress/cypress.config.js
      - /tmp/.X11-unix:/tmp/.X11-unix

  novu-api:
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0

  novu-worker:
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0

  novu-bridge:
    command:
      - sh
      - -c
      - pnpm dev
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    volumes:
      - ./novu/bridge:/usr/src/app


volumes:
  dev:
    driver: local
