version: '3.4'

networks:
  internal:
    ipam:
      config:
        - subnet: ${PS_SUBNET}

services:
  uploader-api-php:
    image: ${REGISTRY_NAMESPACE}uploader-api-php:$DOCKER_TAG
    build:
      context: ./uploader/api
      target: uploader-api-php
    networks:
      internal:
        aliases:
          - uploader-api-php
    depends_on:
      - rabbitmq
      - db
    environment:
      - APP_ENV
      - TRUSTED_PROXIES
      - APP_ID=uploader
      - ASSET_CONSUMER_COMMIT_URI
      - ASSET_CONSUMER_ACCESS_TOKEN
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - UPLOADER_API_BASE_URL
      - AUTH_BASE_URL
      - ADMIN_CLIENT_ID=${UPLOADER_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${UPLOADER_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${UPLOADER_ADMIN_CLIENT_SECRET}
      - REPORT_BASE_URL
      - UPLOAD_MAX_FILE_SIZE
      - UPLOADER_REQUEST_SIGNATURE_TTL
      - S3_STORAGE_BASE_URL=${UPLOADER_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${UPLOADER_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${UPLOADER_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${UPLOADER_STORAGE_BUCKET_NAME}
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL
    volumes:
      - uploader_vol:/var/data/upload
      - ./configs:/configs

  uploader-worker:
    image: ${REGISTRY_NAMESPACE}uploader-worker:$DOCKER_TAG
    build:
      context: ./uploader/api
      target: uploader-worker
    networks:
      - internal
    depends_on:
      - rabbitmq
      - db
    environment:
      - APP_ENV
      - APP_ID=uploader
      - ASSET_CONSUMER_COMMIT_URI
      - ASSET_CONSUMER_ACCESS_TOKEN
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - UPLOADER_API_BASE_URL
      - REPORT_BASE_URL
      - UPLOADER_REQUEST_SIGNATURE_TTL
      - S3_STORAGE_BASE_URL=${UPLOADER_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${UPLOADER_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${UPLOADER_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${UPLOADER_STORAGE_BUCKET_NAME}
    volumes:
      - uploader_vol:/var/data/upload
      - ./configs:/configs

  uploader-api-nginx:
    image: ${REGISTRY_NAMESPACE}uploader-api-nginx:$DOCKER_TAG
    build:
      context: ./uploader/api
      target: uploader-api-nginx
    environment:
      - UPLOAD_MAX_FILE_SIZE
    networks:
      - internal
    ports:
      - ${UPLOADER_API_PORT}:80
    depends_on:
      - uploader-api-php

  uploader-client:
    image: ${REGISTRY_NAMESPACE}uploader-client:$DOCKER_TAG
    build:
      context: ./uploader/client
      target: uploader-client_nginx
    volumes:
      - ./configs:/configs
    ports:
      - ${UPLOADER_CLIENT_PORT}:80
    networks:
      - internal
    environment:
      - DEV_MODE
      - UPLOADER_API_BASE_URL
      - AUTH_BASE_URL
      - CLIENT_ID=${UPLOADER_CLIENT_ID}
      - CLIENT_RANDOM_ID=${UPLOADER_CLIENT_RANDOM_ID}
      - CLIENT_SECRET=${UPLOADER_CLIENT_SECRET}
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL

  auth-worker:
    image: ${REGISTRY_NAMESPACE}auth-worker:$DOCKER_TAG
    build:
      context: ./auth/api
      target: auth-worker
    networks:
      - internal
    depends_on:
      - rabbitmq
      - db
    volumes:
      - ./configs:/configs
    environment:
      - APP_ENV
      - APP_ID=auth
      - AUTH_BASE_URL
      - REGISTRATION_VALIDATE_EMAIL=${AUTH_REGISTRATION_VALIDATE_EMAIL}
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - REPORT_BASE_URL

  auth-api-php:
    image: ${REGISTRY_NAMESPACE}auth-api-php:$DOCKER_TAG
    build:
      context: ./auth/api
      target: auth-api-php
    networks:
      internal:
        aliases:
          - auth-api-php
    environment:
      - APP_ENV
      - TRUSTED_PROXIES
      - APP_ID=auth
      - AUTH_BASE_URL
      - ADMIN_CLIENT_ID=${AUTH_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${AUTH_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${AUTH_ADMIN_CLIENT_SECRET}
      - REGISTRATION_VALIDATE_EMAIL=${AUTH_REGISTRATION_VALIDATE_EMAIL}
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - REPORT_BASE_URL
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL
    volumes:
      - ./configs:/configs
    depends_on:
      - redis
      - rabbitmq
      - db

  auth-api-nginx:
    image: ${REGISTRY_NAMESPACE}auth-api-nginx:$DOCKER_TAG
    build:
      context: ./auth/api
      target: auth-api-nginx
    networks:
      internal:
        aliases:
          - auth-api
    ports:
      - ${AUTH_PORT}:80
    depends_on:
      - auth-api-php

  expose-api-php:
    image: ${REGISTRY_NAMESPACE}expose-api-php:$DOCKER_TAG
    build:
      context: ./expose/api
      target: expose-api-php
    networks:
      internal:
        aliases:
          - expose-api-php
    volumes:
      - ./configs:/configs
    depends_on:
      - rabbitmq
      - db
    environment:
      - APP_ENV
      - TRUSTED_PROXIES
      - APP_ID=expose
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - AUTH_BASE_URL
      - EXPOSE_REQUEST_SIGNATURE_TTL
      - ADMIN_CLIENT_ID=${EXPOSE_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${EXPOSE_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${EXPOSE_ADMIN_CLIENT_SECRET}
      - S3_STORAGE_BASE_URL=${EXPOSE_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${EXPOSE_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${EXPOSE_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${EXPOSE_STORAGE_BUCKET_NAME}
      - REPORT_BASE_URL
      - EXPOSE_API_BASE_URL
      - UPLOAD_MAX_FILE_SIZE
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL

  expose-worker:
    image: ${REGISTRY_NAMESPACE}expose-worker:$DOCKER_TAG
    build:
      context: ./expose/api
      target: expose-worker
    networks:
      - internal
    volumes:
      - ./configs:/configs
    depends_on:
      - rabbitmq
      - db
    environment:
      - APP_ENV
      - APP_ID=expose
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - S3_STORAGE_BASE_URL=${EXPOSE_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${EXPOSE_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${EXPOSE_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${EXPOSE_STORAGE_BUCKET_NAME}
      - EXPOSE_REQUEST_SIGNATURE_TTL
      - REPORT_BASE_URL
      - EXPOSE_API_BASE_URL
      - UPLOAD_MAX_FILE_SIZE

  expose-api-nginx:
    image: ${REGISTRY_NAMESPACE}expose-api-nginx:$DOCKER_TAG
    build:
      context: ./expose/api
      target: expose-api-nginx
    networks:
      internal:
        aliases:
          - expose_api
    ports:
      - ${EXPOSE_API_PORT}:80
    depends_on:
      - expose-api-php
    environment:
      - UPLOAD_MAX_FILE_SIZE

  expose-client:
    image: ${REGISTRY_NAMESPACE}expose-client:$DOCKER_TAG
    build:
      context: ./expose/client
      target: expose-client_nginx
    volumes:
      - ./configs:/configs
    ports:
      - ${EXPOSE_FRONT_PORT}:80
    networks:
      - internal
    environment:
      - DEV_MODE
      - EXPOSE_API_BASE_URL
      - EXPOSE_REQUEST_SIGNATURE_TTL
      - AUTH_BASE_URL
      - CLIENT_ID=${EXPOSE_CLIENT_ID}
      - CLIENT_RANDOM_ID=${EXPOSE_CLIENT_RANDOM_ID}
      - CLIENT_SECRET=${EXPOSE_CLIENT_SECRET}
      - MATOMO_HOST
      - MAPBOX_TOKEN
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL

  notify-api-php:
    image: ${REGISTRY_NAMESPACE}notify-api-php:$DOCKER_TAG
    build:
      context: ./notify/api
      target: notify-api-php
    networks:
      internal:
        aliases:
          - notify-api-php
    volumes:
      - ./configs:/configs
    depends_on:
      - rabbitmq
    environment:
      - APP_ENV
      - TRUSTED_PROXIES
      - APP_ID=notify
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - AUTH_BASE_URL
      - ADMIN_CLIENT_ID=${NOTIFY_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${NOTIFY_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${NOTIFY_ADMIN_CLIENT_SECRET}
      - REPORT_BASE_URL
      - MAILER_DSN
      - MAIL_FROM
      - DISPLAY_SERVICES_MENU
      - DASHBOARD_BASE_URL

  notify-worker:
    image: ${REGISTRY_NAMESPACE}notify-worker:$DOCKER_TAG
    build:
      context: ./notify/api
      target: notify-worker
    networks:
      - internal
    depends_on:
      - rabbitmq
    volumes:
      - ./configs:/configs
    environment:
      - APP_ENV
      - APP_ID=notify
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - REPORT_BASE_URL
      - MAILER_DSN
      - MAIL_FROM

  notify-api-nginx:
    image: ${REGISTRY_NAMESPACE}notify-api-nginx:$DOCKER_TAG
    build:
      context: ./notify/api
      target: notify-api-nginx
    networks:
      internal:
        aliases:
          - notify-api
    ports:
      - ${NOTIFY_PORT}:80
    depends_on:
      - notify-api-php

  redis:
    image: redis:5.0.5-alpine
    networks:
      - internal
    volumes:
      - redis_vol:/data

  db:
    image: postgres:11.2-alpine
    hostname: postgres
    networks:
      - internal
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - db_vol:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.7.14-management
    hostname: rabbitmq
    networks:
      - internal
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_vol:/var/lib/rabbitmq
    ports:
      - ${RABBITMQ_MGT_PORT}:15672

  dockerize:
    image: jwilder/dockerize
    networks:
      - internal
    command: ["dockerize", "-wait", "tcp://db:5432", "-wait", "tcp://rabbitmq:5672", "-timeout", "100s", "--", "echo", "ready"]

  minio:
    image: minio/minio
    networks:
      - internal
    command: server /data
    ports:
      - ${MINIO_PORT}:9000
    volumes:
      - s3_vol:/data
    environment:
      MINIO_ACCESS_KEY: ${S3_STORAGE_ACCESS_KEY}
      MINIO_SECRET_KEY: ${S3_STORAGE_SECRET_KEY}

  minio-mc:
    image: minio/mc:RELEASE.2020-09-18T00-13-21Z
    networks:
      - internal
    command: exit 0
    depends_on:
      - minio
    environment:
      MINIO_ACCESS_KEY: ${S3_STORAGE_ACCESS_KEY}
      MINIO_SECRET_KEY: ${S3_STORAGE_SECRET_KEY}
      EXPOSE_STORAGE_BUCKET_NAME: ${EXPOSE_STORAGE_BUCKET_NAME}
      UPLOADER_STORAGE_BUCKET_NAME: ${UPLOADER_STORAGE_BUCKET_NAME}

  matomo-php:
    image: ${REGISTRY_NAMESPACE}matomo-php:$DOCKER_TAG
    build: ./infra/docker/matomo-php
    networks:
      internal:
        aliases:
          - matomo-php
    depends_on:
      - matomo-db
    environment:
      - MATOMO_DATABASE_HOST=matomo-db
      - MATOMO_DATABASE_USERNAME
      - MATOMO_DATABASE_PASSWORD
      - MATOMO_DATABASE_DBNAME
    volumes:
      - matomo_vol:/var/www/html

  matomo-nginx:
    image: ${REGISTRY_NAMESPACE}matomo-nginx:$DOCKER_TAG
    build: ./infra/docker/matomo-nginx
    networks:
      - internal
    depends_on:
      - matomo-php
    volumes:
      - matomo_vol:/var/www/html:ro
    ports:
      - ${MATOMO_PORT}:80

  matomo-db:
    image: mariadb:10.4.10-bionic
    command:
      - "mysqld"
      - "--max_allowed_packet=64MB"
    networks:
      internal:
        aliases:
          - matomo-db
    environment:
      - MYSQL_ROOT_PASSWORD=$MATOMO_MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=$MATOMO_DATABASE_DBNAME
      - MYSQL_USER=$MATOMO_DATABASE_USERNAME
      - MYSQL_PASSWORD=$MATOMO_DATABASE_PASSWORD
    volumes:
      - matomodb_vol:/var/lib/mysql

  weblate:
    image: weblate/weblate:3.8-4
    volumes:
      - weblate_vol:/app/data
    networks:
      - internal
    ports:
      - ${WEBLATE_PORT}:8080
    depends_on:
      - db
      - redis
    environment:
      - WEBLATE_EMAIL_HOST
      - WEBLATE_EMAIL_PORT
      - WEBLATE_EMAIL_HOST_USER
      - WEBLATE_EMAIL_HOST_PASSWORD
      - WEBLATE_ALLOWED_HOSTS
      - WEBLATE_ADMIN_PASSWORD
      - WEBLATE_EMAIL_USE_TLS=0
      - WEBLATE_EMAIL_USE_SSL=0
      - WEBLATE_ADMIN_EMAIL
      - WEBLATE_ADMIN_NAME
      - WEBLATE_SERVER_EMAIL=$WEBLATE_SERVER_EMAIL
      - WEBLATE_DEFAULT_FROM_EMAIL=weblate@example.com
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE=${WEBLATE_POSTGRES_DB}
      - POSTGRES_HOST=db

  report-api:
    image: ${REGISTRY_NAMESPACE}report-api:$DOCKER_TAG
    build: report
    networks:
      internal:
        aliases:
          - report-api
    environment:
      - APP_ENV
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DATABASE=${REPORT_DB_NAME}

  mailhog:
    image: mailhog/mailhog
    networks:
      - internal
    ports:
      - ${MAILHOG_PORT}:8025

  pgadmin:
    image: dpage/pgadmin4:4.14
    ports:
      - ${PGADMIN_PORT}:80
    networks:
      - internal
    environment:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    depends_on:
      - db
    volumes:
      - pgadmin_vol:/var/lib/pgadmin

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    networks:
      - internal
    environment:
      - PMA_HOST=matomo-db
    depends_on:
      - matomo-db
    ports:
      - ${PHPMYADMIN_PORT}:80

  dashboard:
    image: ${REGISTRY_NAMESPACE}dashboard:$DOCKER_TAG
    build: dashboard
    networks:
      - internal
    ports:
      - ${DASHBOARD_PORT}:80
    environment:
      - COMPOSE_PROJECT_NAME
      - DASHBOARD_BASE_URL
      - REGISTRY_NAMESPACE
      - DOCKER_TAG
      - APP_ENV
      - DEV_MODE
      - AUTH_PORT
      - AUTH_BASE_URL
      - AUTH_REGISTRATION_VALIDATE_EMAIL
      - ASSET_CONSUMER_COMMIT_URI
      - ASSET_CONSUMER_ACCESS_TOKEN
      - UPLOADER_API_PORT
      - UPLOADER_API_BASE_URL
      - UPLOADER_FRONT_BASE_URL
      - EXPOSE_API_PORT
      - EXPOSE_FRONT_PORT
      - EXPOSE_API_BASE_URL
      - EXPOSE_FRONT_BASE_URL
      - EXPOSE_STORAGE_ROOT_URL
      - EXPOSE_STORAGE_BUCKET_NAME
      - NOTIFY_PORT
      - NOTIFY_BASE_URL
      - RABBITMQ_MGT_PORT
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - PGADMIN_PORT
      - PGADMIN_BASE_URL
      - MAILER_DSN
      - MINIO_PORT
      - WEBLATE_PORT
      - WEBLATE_BASE_URL
      - WEBLATE_EMAIL_HOST
      - WEBLATE_EMAIL_PORT
      - WEBLATE_ALLOWED_HOSTS
      - WEBLATE_ADMIN_EMAIL
      - WEBLATE_ADMIN_PASSWORD
      - WEBLATE_SERVER_EMAIL
      - WEBLATE_POSTGRES_DB
      - WEBLATE_ADMIN_NAME
      - MATOMO_HOST
      - MATOMO_PORT
      - MATOMO_MYSQL_ROOT_PASSWORD
      - MATOMO_DATABASE_DBNAME
      - PHPMYADMIN_PORT
      - PHPMYADMIN_BASE_URL
      - REPORT_DB_NAME
      - REPORT_BASE_URL
      - PS_SUBNET
      - PS_GATEWAY_IP
      - IDE_KEY
      - XDEBUG_ENABLED
      - PS_DEBUG_SERVER_NAME_PREFIX
      - MAILHOG_PORT
      - MAILHOG_BASE_URL
      - SAML_BASE_URL
      - SAML2_BASE_URL

  databox-api-php:
    image: ${REGISTRY_NAMESPACE}databox-api-php:$DOCKER_TAG
    build:
      context: ./databox/api
      target: databox-api-php
    networks:
      internal:
        aliases:
          - databox-php
    environment:
      - APP_ENV
      - AUTH_BASE_URL
      - DATABOX_BASE_URL
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - ADMIN_CLIENT_ID=${DATABOX_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${DATABOX_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${DATABOX_ADMIN_CLIENT_SECRET}
      - ELASTICSEARCH_URL
      - S3_STORAGE_BASE_URL=${DATABOX_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${DATABOX_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${DATABOX_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${DATABOX_STORAGE_BUCKET_NAME}
      - DATABOX_REQUEST_SIGNATURE_TTL
      - TRUSTED_PROXIES=${PS_SUBNET}
    depends_on:
      - rabbitmq
      - redis
      - db
      - elasticsearch

  databox-api-nginx:
    image: ${REGISTRY_NAMESPACE}databox-api-nginx:$DOCKER_TAG
    build:
      context: ./databox/api
      target: databox-api-nginx
    networks:
      internal:
        aliases:
          - databox-api
    ports:
      - ${DATABOX_PORT}:80
    depends_on:
      - databox-api-php

  databox-worker:
    image: ${REGISTRY_NAMESPACE}databox-worker:$DOCKER_TAG
    build:
      context: ./databox/api
      target: databox-worker
    networks:
      - internal
    depends_on:
      - redis
      - rabbitmq
      - db
      - elasticsearch
    environment:
      - APP_ENV
      - AUTH_BASE_URL
      - DATABOX_BASE_URL
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - RABBITMQ_USER
      - RABBITMQ_PASSWORD
      - ADMIN_CLIENT_ID=${DATABOX_ADMIN_CLIENT_ID}
      - ADMIN_CLIENT_RANDOM_ID=${DATABOX_ADMIN_CLIENT_RANDOM_ID}
      - ADMIN_CLIENT_SECRET=${DATABOX_ADMIN_CLIENT_SECRET}
      - ELASTICSEARCH_URL
      - S3_STORAGE_BASE_URL=${DATABOX_STORAGE_BASE_URL}
      - S3_STORAGE_ENDPOINT=${DATABOX_STORAGE_ENDPOINT}
      - S3_STORAGE_USE_PATH_STYLE_ENDPOINT=${DATABOX_STORAGE_USE_PATH_STYLE_ENDPOINT}
      - S3_STORAGE_ACCESS_KEY
      - S3_STORAGE_SECRET_KEY
      - S3_STORAGE_REGION
      - S3_STORAGE_BUCKET_NAME=${DATABOX_STORAGE_BUCKET_NAME}
      - DATABOX_REQUEST_SIGNATURE_TTL

  elasticsearch:
    image: elasticsearch:7.9.3
    networks:
      - internal
    volumes:
      - elasticsearch_vol:/usr/share/elasticsearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"

volumes:
  weblate_vol:
  db_vol:
  redis_vol:
  uploader_vol: # rw-many
  s3_vol:
  matomo_vol:
  matomodb_vol:
  pgadmin_vol:
  rabbitmq_vol:
  elasticsearch_vol:
