{% extends 'mail/base.html.twig' %}

{% block body %}
    <p>
        Hello,
    </p>
    <p>
        You requested to reset your password.
        <br>Please use the following code:
    </p>
    <a class="btn-primary" href="{{ url('reset_password', {
        id: id,
        token: token,
    }) }}">Reset password</a>
{% endblock %}
