{% extends '@AlchemyAcl/permissions/entity/acl.html.twig' %}

{% block content_title %}
    Manage permissions for <b>all {{ object_type }}</b>
{% endblock %}

{% block warning_case %}
    <tr
        class="type-warning"
    >
        <th colspan="{{ 3 + permissions|length }}">
            <span>
                Be careful! Permissions will be applied to all <b>{{ object_type }}</b>
            </span>
        </th>
    </tr>
{% endblock %}
