.grid-results {
  width: 100%;
}

.result-page {
  position: relative;
  width: 100%;
  border-top: px2rem(1) solid $gray-500;
  padding: px2rem(10) 0;

  &:first-child {
    border-top: 0;

    .page-num {
      display: none;
    }
  }
}

.result-info {
  color: rgb(7, 36, 242 / 54%);
  font-size: px2rem(14);
  background-color: $gray-200 !important;
  border-radius: 0 0 px2rem(20) 0;
  width: fit-content !important;
  box-shadow: 0 0 px2rem(15) rgba(#FFF, 0.3);
}

.page-num {
  position: absolute;
  top: px2rem(-12);
  left: px2rem(10);
  font-weight: 700;
  padding: px2rem(2) px2rem(10);
  background-color: #fafafa;
}
