.collections {
  margin-left: px2rem(-15);
  margin-right: px2rem(-15);
}

.collection-menu-wrapper {

}

.collection-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: px2rem(10);
  cursor: pointer;

  .expand {
    svg {
      transform: rotateZ(-90deg);
    }
  }

  &.current {
    background-color: rgba(#000, 0.05);
  }

  &.selected {
    background-color: rgba(#000, 0.2);
  }

  &.expanded {
    .expand {
      svg {
        transform: rotateZ(0);
      }
    }
  }

}
