
$root-rem: 16px;

$blue: #07447b;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #af4f58;
$orange: #fd7e14;
$yellow: #dbc37b;
$green: #5acc74;
$teal: #20c997;
$cyan: #53bacb;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
