{% extends 'form_layout.html.twig' %}

{% block title %}
    Auth
{% endblock %}

{% block form_title %}
    Auth
{% endblock %}

{% block form_content %}
    <p>
        Authenticated as <b>{{ app.user.username }}</b>
    </p>
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('easyadmin') }}">Admin</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('security_password_change') }}">Change password</a>
        </li>
    </ul>
    <p>
        <a href="{{ path('security_logout') }}" class="btn btn-danger">Logout</a>
    </p>
{% endblock %}
