{% extends 'form_layout.html.twig' %}

{% block title %}
    Password reset requested
{% endblock %}

{% block form_title %}
    Password reset requested
{% endblock %}

{% block form_content %}
    <p>
        You will receive an email.
    </p>
{% endblock %}
