{% extends 'form_layout.html.twig' %}

{% block title %}
    Password changed!
{% endblock %}

{% block form_title %}
    Password changed!
{% endblock %}

{% block form_content %}
    <p>Your password has been successfully changed.</p>
{% endblock %}
