parameters:
    es_index_prefix: '%env(ELASTICSEARCH_INDEX_PREFIX)%'
    elastica.use_alias: true

# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/setup.md
fos_elastica:
    clients:
        default: { url: '%env(ELASTICSEARCH_URL)%/' }
    indexes:
        asset:
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%asset_%kernel.environment%"
            settings:
                index:
                    analysis:
                        analyzer:
                            collection_path:
                                tokenizer: collection_path
                            text: &text_analyzer
                                type: custom
                                tokenizer: standard
                                filter:
                                    - elision
                                    - lowercase
                                    - worddelimiter
                                    - asciifolding
                            partial_words: &partial_words_analyzer
                                type: custom
                                tokenizer: edge_ngram
                                filter:
                                    - elision
                                    - lowercase
                                    - worddelimiter
                                    - asciifolding
                        tokenizer:
                            collection_path:
                                type: path_hierarchy
                                delimiter: /
                            edge_ngram: &edge_ngram_tokenizer
                                type: edge_ngram
                                min_gram: 1
                                max_gram: 10
                                token_chars:
                                    - letter
                                    - digit
                                    - symbol
                        filter:
                            worddelimiter: &worddelimiter_filter
                                type: word_delimiter_graph
                                generate_word_parts: true
                                catenate_words: true
                                preserve_original: true
            properties:
                title:
                    type: text
                    analyzer: text
                suggestion:
                    property_path: title
                    type: text
                    analyzer: text
                    fields:
                        raw:
                            type: keyword
                        suggest: &suggest_field
                            index_options: docs
                            similarity: boolean
                            type: text
                            analyzer: partial_words
                            search_analyzer: text
                            term_vector: with_positions_offsets
                !php/const App\Attribute\AttributeInterface::ATTRIBUTES_FIELD:
                    type: object
                referenceCollectionId:
                    type: keyword
                collectionPaths:
                    property_path: false
                    type: text
                    analyzer: collection_path
                    search_analyzer: keyword
                    fielddata: true
                    fields:
                        raw:
                            type: keyword
                privacy:
                    property_path: false
                    type: byte
                stories:
                    property_path: false
                    type: keyword
                isStory:
                    type: boolean
                renditions:
                    property_path: false
                    type: keyword
                workspaceId:
                    type: keyword
                ownerId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
                tags:
                    property_path: tagIds
                    type: keyword
                hasSourceFile:
                    type: boolean
                fileSize:
                    type: long
                    property_path: getSourceFileSize
                fileName:
                    type: text
                    property_path: getSourceFilename
                fileType:
                    type: keyword
                    property_path: getSourceFileType
                fileMimeType:
                    type: keyword
                    property_path: getSourceFileMimeType
                microseconds:
                    type: integer
                sequence:
                    type: integer
                deleted:
                    property_path: isAssetDeleted
                    type: boolean
                collectionDeleted:
                    type: boolean
                createdAt:
                    type: date
                    fields:
                        raw:
                            type: keyword
                editedAt:
                    type: date
                    fields:
                        raw:
                            type: keyword
                attributesEditedAt:
                    type: date
                    fields:
                        raw:
                            type: keyword
            persistence:
                driver: orm
                model: App\Entity\Core\Asset
                listener: { enabled: false }
                elastica_to_model_transformer:
                    query_builder_method: createElasticaToModelQueryBuilder
                provider:
                    query_builder_method: getESQueryBuilder

        collection:
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%collection_%kernel.environment%"
            settings:
                index:
                    analysis:
                        analyzer:
                            collection_path:
                                tokenizer: collection_path
                            text: *text_analyzer
                            partial_words: *partial_words_analyzer
                        tokenizer:
                            collection_path:
                                type: path_hierarchy
                                delimiter: /
                            edge_ngram: *edge_ngram_tokenizer
                        filter:
                            worddelimiter: *worddelimiter_filter
            properties:
                title:
                    type: text
                    analyzer: text
                suggestion:
                    property_path: title
                    type: text
                    analyzer: text
                    fields:
                        raw:
                            type: keyword
                        suggest: *suggest_field
                sortName:
                    type: keyword
                absolutePath:
                    type: text
                    analyzer: collection_path
                root:
                    type: boolean
                hasChildren:
                    type: boolean
                pathDepth:
                    type: integer
                privacy:
                    property_path: false
                    type: byte
                workspaceId:
                    type: keyword
                ownerId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
                nlUsers:
                    property_path: false
                    type: keyword
                nlGroups:
                    property_path: false
                    type: keyword
                privacyRoots:
                    type: keyword
                deleted:
                    type: boolean
                createdAt:
                    type: date
            persistence:
                driver: orm
                model: App\Entity\Core\Collection
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        attribute:
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%attribute_%kernel.environment%"
            indexable_callback: [ '@App\Elasticsearch\AttributeIndexable', 'isAttributeIndexable' ]
            settings:
                index:
                    analysis:
                        analyzer:
                            text: *text_analyzer
                            partial_words: *partial_words_analyzer
                        tokenizer:
                            edge_ngram: *edge_ngram_tokenizer
                        filter:
                            worddelimiter: *worddelimiter_filter
            properties:
                suggestion:
                    property_path: value
                    type: text
                    analyzer: text
                    fields:
                        raw:
                            type: keyword
                            ignore_above: 200
                        suggest: *suggest_field
                privacy:
                    property_path: false
                    type: byte
                definitionId:
                    type: keyword
                workspaceId:
                    type: keyword
                ownerId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
                nlUsers:
                    property_path: false
                    type: keyword
                nlGroups:
                    property_path: false
                    type: keyword
                privacyRoots:
                    type: keyword
                createdAt:
                    type: date
            persistence:
                driver: orm
                model: App\Entity\Core\Attribute
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        asset_data_template:
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%asset_data_template_%kernel.environment%"
            properties:
                name:
                    type: text
                    fields:
                        raw:
                            type: keyword
                collectionDepth:
                    type: integer
                collectionId:
                    type: keyword
                includeCollectionChildren:
                    type: boolean
                workspaceId:
                    type: keyword
                public:
                    type: boolean
                ownerId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
            persistence:
                driver: orm
                model: App\Entity\Template\AssetDataTemplate
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        basket:
            settings:
                index:
                    analysis:
                        analyzer:
                            text: *text_analyzer
                        filter:
                            worddelimiter: *worddelimiter_filter
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%basket_%kernel.environment%"
            properties:
                title:
                    type: text
                    analyzer: text
                description:
                    type: text
                    analyzer: text
                ownerId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
            persistence:
                driver: orm
                model: App\Entity\Basket\Basket
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        attribute_entity:
            settings:
                index:
                    analysis:
                        analyzer:
                            text: *text_analyzer
                        filter:
                            worddelimiter: *worddelimiter_filter
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%attribute_entity_%kernel.environment%"
            properties:
                listId:
                    type: keyword
                value:
                    type: text
                    analyzer: text
                    fields:
                        suggest:
                            type: search_as_you_type
                            doc_values: false
                            max_shingle_size: 3
                        raw:
                            type: keyword
                workspaceId:
                    type: keyword
            persistence:
                driver: orm
                model: App\Entity\Core\AttributeEntity
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        tag:
            settings:
                index:
                    analysis:
                        analyzer:
                            text: *text_analyzer
                        filter:
                            worddelimiter: *worddelimiter_filter
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%tag_%kernel.environment%"
            properties:
                name:
                    type: text
                    analyzer: text
                    fields:
                        suggest:
                            type: search_as_you_type
                            doc_values: false
                            max_shingle_size: 3
                        raw:
                            type: keyword
                workspaceId:
                    type: keyword
            persistence:
                driver: orm
                model: App\Entity\Core\Tag
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

        message:
            settings:
                index:
                    analysis:
                        analyzer:
                            text: *text_analyzer
                        filter:
                            worddelimiter: *worddelimiter_filter
            use_alias: '%elastica.use_alias%'
            index_name: "%es_index_prefix%message_%kernel.environment%"
            properties:
                content:
                    type: text
                    analyzer: text
                authorId:
                    type: keyword
                users:
                    property_path: false
                    type: keyword
                groups:
                    property_path: false
                    type: keyword
            persistence:
                driver: orm
                model: App\Entity\Discussion\Message
                listener: { enabled: false }
                provider:
                    query_builder_method: getESQueryBuilder

when@dev:
    parameters:
        elastica.use_alias: false

when@test:
    parameters:
        elastica.use_alias: false
