# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true

    session:
        handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
        name: auth_sess
        cookie_secure: auto
        cookie_httponly: true
        cookie_samesite: strict

    #esi: true
    #fragments: true
    php_errors:
        log: true
    http_client:
        default_options:
            verify_peer: '%env(bool:VERIFY_SSL)%'
        scoped_clients:
            matomo.client:
                base_uri: '%env(MATOMO_URL)%'
            remove_bg.client:
                base_uri: https://api.remove.bg
                verify_peer: true
            zippy.client:
                base_uri: '%env(ZIPPY_URL)%'
                headers:
                    Authorization: '%env(ZIPPY_CLIENT_ID)%:%env(ZIPPY_CLIENT_SECRET)%'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
