{% extends 'base.html.twig' %}

{% block title %}
    {{ 'registration.sign_up'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'registration.sign_up'|trans }}</h1>
    {{ form(form) }}
{% endblock %}
