{% extends 'base.html.twig' %}

{% block title %}
    Pending confirmation
{% endblock %}

{% block body %}
    <h1>Registration almost complete!</h1>
    <p>You should receive an email shortly in order to confirm your registration.</p>
{% endblock %}
