{% set t = field.value|substring(0, 7) %}
<span style="cursor:pointer"
      title="{{ field.value }}"
      onClick="navigator.clipboard.writeText('{{ field.value }}');var a=this;a.innerHTML = 'Copied!';setTimeout(function(){a.innerHTML='{{ t }}'}, 1000)"
>
    {{ t }}
</span>
