{% extends 'expose/base.html.twig' %}

{% block body %}
    <p>
        {{ 'common.greeting.mail'|trans }}
    </p>
    <p>
        {{ 'expose.zippy_download_link.mail.p1'|trans|nl2br }}
    </p>
    <a class="btn-primary" href="{{ download_url }}">
        {{ 'expose.zippy_download_link.mail.download_button'|trans }}
    </a>
{% endblock %}
