{% extends 'mail/auth/base.html.twig' %}

{% block body %}
    <p>
        Hello,
    </p>
    <p>
        You are invited to Uploader.

        <a class="btn-primary" href="{{ url }}">GO</a>
    </p>
{% endblock %}
