{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Notifications{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}
    <div style="max-width: 500px;">
    {{ form(form) }}
    </div>
{% endblock %}
