{% extends 'mail/base.html.twig' %}

{% block body %}
    <p>
        Hello,
    </p>
    <p>
        I just want to notice you that your password has been changed.
        <br>If it was not you, please contact us!
    </p>
{% endblock %}
