{% extends 'mail/base.html.twig' %}

{% block body %}
    <p>
        Hello,
    </p>
    <p>
        You requested to reset your password.
        <br>Please use the following code:
    </p>
    {{ url }}
{% endblock %}
