parameters:
    keycloak_url: '%env(KEYCLOAK_URL)%'

# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true
    handle_all_throwables: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    http_client:
        default_options:
            verify_peer: '%env(bool:VERIFY_SSL)%'
            verify_host: '%env(bool:VERIFY_HOST)%'
            timeout: 10
        scoped_clients:
            keycloak.client:
                base_uri: '%env(default:keycloak_url:KEYCLOAK_INTERNAL_URL)%/admin/realms/'
            rabbitmq.client:
                base_uri: '%env(RABBITMQ_CONSOLE_URL)%/api/'
                auth_basic: '%env(RABBITMQ_USER)%:%env(RABBITMQ_PASSWORD)%'
            minio.client:
                base_uri: '%env(MINIO_CONSOLE_URL)%/api/v1/'
                auth_basic: '%env(RABBITMQ_USER)%:%env(RABBITMQ_PASSWORD)%'

    php_errors:
        log: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
