{% extends '@EasyAdmin/page/content.html.twig' %}
{% set _request_parameters = app.request.query.all %}


{% block content_title %}
    Integrations - Help
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/yaml.min.js"
            integrity="sha512-443xytogGo2/xpNX1I8F/pBstzA2gafKTtRmzY0RrcOxQGbjpSESSd8fX+4jXi45JuKVqN0mOXkVfNFdLlqCbA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block main %}
    {% for integration in integrations %}
        {% if loop.index > 0 %}
            <hr>
        {% endif %}
        <h3>{{ integration.title }}</h3>

        {% if integration.reference %}
            <h5>Configuration reference:</h5>

            <pre style="
        font-family: Consolas, Monaco, monospace;
        white-space: pre-wrap;
"><code class="hljs language-yaml">{{- integration.reference -}}</code></pre>
        {% endif %}
    {% endfor %}
{% endblock %}
