{% extends 'auth/base.html.twig' %}

{% block body %}
    <p>
        {{ 'common.greeting.mail'|trans }}
    </p>
    <p>
        {{ 'auth.password_changed.mail.p1'|trans|nl2br }}
    </p>
{% endblock %}
