{% extends 'auth/base.html.twig' %}

{% block body %}
    <p>
        {{ 'common.greeting.mail'|trans }}
    </p>
    <p>
        {{ 'auth.reset_password.mail.p1'|trans|nl2br }}
    </p>
    <a class="btn-primary" href="{{ url('reset_password', {
        id: id,
        token: token,
    }) }}">
        {{ 'auth.reset_password.mail.go_button'|trans }}
    </a>
{% endblock %}
