.cover {
  margin: 0 -1.5rem;
  img {
    width: 100%;
  }
}

.terms-invite {
  text-align: center;
  margin-top: 50px;
}

.main-content {
  flex-grow: 1;
  max-width: 100vw;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &.menu-open {
    max-width: calc(100vw - $sidebarWidth);
  }
}
