# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    router.request_context.host: '%env(EXPOSE_API_URL)%'
    router.request_context.scheme: 'https'
    asset.request_context.secure: true

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $zippyBaseUrl: '%env(ZIPPY_URL)%'
            ApiPlatform\State\ProviderInterface $itemProvider: '@api_platform.doctrine.orm.state.item_provider'
            ApiPlatform\State\ProviderInterface $itemsProvider: '@api_platform.doctrine.orm.state.collection_provider'
            string $matomoSiteId: '%env(MATOMO_SITE_ID)%'
            string $matomoAuthToken: '%env(MATOMO_AUTH_TOKEN)%'
            string $phraseanetAuthToken: '%env(PHRASEANET_APP_OAUTH_TOKEN)%'
    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    _instanceof:
        App\Serializer\Normalizer\EntityNormalizerInterface:
            tags: ['app.entity_normalizer']
        Alchemy\CoreBundle\Documentation\DocumentationGeneratorInterface:
            tags:
                - name: !php/const Alchemy\CoreBundle\Documentation\DocumentationGeneratorInterface::TAG

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    Arthem\RequestSignerBundle\RequestSigner: "@arthem_request_signer.request_signer"

    App\Form\ThemeChoiceType:
        arguments:
            $choices:
                light: Light
                dark: Dark

    App\Form\LayoutChoiceType:
        arguments:
            $choices:
                gallery: Gallery
                grid: Grid gallery
                download: Download
                mapbox: Mapbox

    App\Form\MapLayoutChoiceType:
        arguments:
            $choices:
                light-v10: Light
                dark-v10: Dark
                outdoors-v11: Outdoors
                satellite-v9: Satellite

    app.zippy_client:
        class: GuzzleHttp\Client
        arguments:
            -
                base_uri: '%env(ZIPPY_URL)%'
                verify: '%env(bool:VERIFY_SSL)%'
                headers:
                    Authorization: '%env(ZIPPY_CLIENT_ID)%:%env(ZIPPY_CLIENT_SECRET)%'
                options:
                    timeout: 10
                    http_errors: false
                    headers:
                        Accept: "application/json"

    App\ZippyManager:
        arguments:
            $client: '@app.zippy_client'

    App\DataPersister\ExposeDataPersister:
        decorates: api_platform.doctrine.orm.state.persist_processor
        arguments:
            $decorated: '@.inner'

    App\Security\Authentication\JWTManager:
        arguments:
            $signingKey: '%env(APP_SECRET)%'
            $baseUri: '%env(EXPOSE_API_URL)%'
            $ttl: '%env(JWT_TTL)%'

    App\Admin\ClientUrlGenerator:
        arguments:
            $clientBaseUrl: '%env(EXPOSE_CLIENT_URL)%'

    app.proxy_purge_client:
        class: GuzzleHttp\Client
        arguments:
            -
                base_uri: 'http://expose-api-nginx'
                http_errors: false
                timeout: 10

    App\Http\Cache\ProxyCachePurger:
        arguments:
            $client: '@app.proxy_purge_client'
            $clientBaseUrl: '%env(EXPOSE_CLIENT_URL)%'

    Aws\CloudFront\CloudFrontClient:
        arguments:
            -
                  profile: default
                  version: '2020-05-31'
                  region: '%env(CLOUD_FRONT_REGION)%'

    Alchemy\CoreBundle\Documentation\ApiDocumentationGenerator: ~
