.tiptap {
    --purple: #6a0dad;
    --purple-light: #e0b3ff;
    --white: #ffffff;

    .widget {
        background-color: var(--purple-light);
        border: 2px solid var(--purple);
        border-radius: 0.5rem;
        margin: 2rem 0;
        position: relative;

        label {
            background-color: var(--purple);
            border-radius: 0 0 0.5rem 0;
            color: var(--white);
            font-size: 0.75rem;
            font-weight: bold;
            padding: 0.25rem 0.5rem;
            position: absolute;
            top: 0;
        }

        .content {
            margin-top: 1.5rem;
            padding: 1rem;

            &.is-editable {
                border: 2px dashed var(--gray-3);
                border-radius: 0.5rem;
                margin: 2.5rem 1rem 1rem;
                padding: 0.5rem;
            }
        }

    }
    .widget-options {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;

        button {
            background-color: var(--purple);
            border: none;
            border-radius: 0.25rem;
            color: var(--white);
            cursor: pointer;
            font-size: 0.75rem;
            padding: 0.25rem 0.5rem;

            &:hover {
                background-color: var(--purple-light);
            }
        }
    }
}
