.tiptap {
    .widget {
        &.selected {
            outline: 1px dashed #CCC;
        }
    }

    .node-widget, .widget {
        display: contents;
    }

    &[contenteditable='true'] {
        .node-widget, .widget {
            display: block;
        }
    }
}
