{% extends '@AlchemyAdmin/base.html.twig' %}

{% block title %}{{ site_title }} Admin | Reset password{% endblock %}

{% block body %}
   <h1>Forgot password</h1>

   <p>You should receive an email shortly</p>
{% endblock %}
