
# https://github.com/elastic/helm-charts/blob/master/logstash/README.md
logstash:
  imageTag: latest
  image: alchemyfr/ps-report-logstash
  imagePullPolicy: Always
  extraEnvs:
    - name: ELASTICSEARCH_HOST
      value: elasticsearch-report:9200
    - name: POSTGRES_DATABASE
      value: report
  envFrom:
  - secretRef:
      name: postgresql-secret
  - configMapRef:
      name: postgresql-php-config

elasticsearch:
  nodeGroup: report
  maxUnavailable: '' # Prevent conflict with others elasticsearch installs
  enabled: true
  replicas: 1
  minimumMasterNodes: 1
  volumeClaimTemplate:
    resources:
      requests:
        storage: 5Gi
  lifecycle:
    postStart:
      exec:
        command:
          - bash
          - -c
          - |
            #!/bin/bash
            # Add a template to adjust number of shards/replicas
            SHARD_COUNT=5
            REPLICA_COUNT=0
            ES_URL=http://localhost:9200
            while [[ "$(curl -s -o /dev/null -w '%{http_code}\n' $ES_URL)" != "200" ]]; do sleep 1; done
            curl -XPUT "$ES_URL/_template/report-template" -H 'Content-Type: application/json' -d'{"index_patterns":['\""report-*"\"'],"settings":{"number_of_shards":'$SHARD_COUNT',"number_of_replicas":'$REPLICA_COUNT'}}'
            curl -XPUT "$ES_URL/_template/kinana-template" -H 'Content-Type: application/json' -d'{"index_patterns":['\""kibana*"\"'],"settings":{"number_of_shards":'$SHARD_COUNT',"number_of_replicas":'$REPLICA_COUNT'}}'

kibana:
  elasticsearchHosts: 'http://elasticsearch-report:9200'
  kibanaConfig:
     kibana.yml: |
       server.name: kibana
       server.host: 0.0.0.0
       elasticsearch.hosts: [ "${ELASTICSEARCH_HOST}" ]
       monitoring.ui.container.elasticsearch.enabled: false
       xpack.security.enabled: false
  extraEnvs:
    - name: ELASTICSEARCH_HOST
      value: elasticsearch-report:9200
  ingress:
    enabled: true
    hosts:
      - host: report-kibana.alchemy.kube
        paths:
          - path: /
    tls:
      - secretName: gateway-tls
        hosts:
          - report-kibana.alchemy.kube
