{% extends 'base.html.twig' %}

{% block title %}
    Registration confirmed!
{% endblock %}

{% block body %}
    <h1>Registration complete!</h1>
    <p>You can now use your account.</p>
{% endblock %}
