{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<code>
    <table>
        <tbody>
        {% for k,item in field.value %}
        <tr>
            <th style="padding-right:8px">{{ k }}</th>
            <td>
                {{ item|json_encode }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</code>
