@import "Form";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body, .App {
  height: 100%;
}

.App {
  text-align: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: $brand-primary;
  font-size: 28px;
}

.container {
  max-width: 600px;
}
