api_platform:
    version: '1.0.0'
    mapping:
        paths:
            - '%kernel.project_dir%/src/Entity'
    formats:
        jsonld: [ 'application/ld+json', 'application/merge-patch+json' ]
        json: [ 'application/json', 'application/merge-patch+json' ]
        html: [ 'text/html' ]
    patch_formats:
        json: ['application/merge-patch+json']


